div.posts {
	position:relative;
	width: 100%;
	float:left;
}

div.post_internal {
	margin:5px;
	right:0px;
	left:0px;
    	border:1px solid grey;
}

div.included_post {
    background-color: #F9F9F9;
}

div.post0 {
    display: inline;
	float: left;
	width: 100%;
}

div.post1 {
    display: inline;
	float: left;
	width: 50%;
}

div.inc-button {
	cursor: pointer;
	background-color:green;
	width: 70px;
	}

div.comment {
    margin: 5px;
    background-color: #F8F8F8;
    border: 1px solid grey;
}
