div.posts {
	position:relative;
	width: 100%;
	float:left;
}

div.post_internal {
	margin:5px;
	right:0px;
	left:0px;
    	border:1px solid grey;
}

div.post0 {
	float: right;
	width: 100%;
}

div.post1 {
	float: right;
	width: 50%;
}


