$def with (posts,included,username,loggedin)

<link rel="stylesheet" type="text/css" href="/static/css/userpage.css" />

<div class="posts">
<div class="post">
    <a href="/edit/post/new">New Post</a>
</div>
$for post in posts:
    <div class="post">
        <span>$post.title</span><br><br>
        <span>$:post.text</span><br><br>
        <span>$username</span><br><span>$post.date</span>
        $if loggedin:
            <a href="/edit/post/$post.id">Edit</a>
    </div>
</div>

<div class="included">
<div class="included-header">
Included Posts
</div>

$for i in included:
    <div class="ipost">
        <span>$i.title</span><br><br>
	<span>$:i.text</span><br><br>
    </div>

</div>
